*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}
.header{
    width: 60%;
    height: 5vh;
    /* background: rgb(49, 17, 154); */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;


}
.header h1{
    color: rgba(0, 174, 255, 0.973);
    font-size: 3rem;
}

.others{
  display: flex;
  gap: 4rem;

  
  
   

}
.others a{
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    position: relative;
    display: flex;
   
}
.others a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: #b4adad;
    left: 0;
    border-radius: 10px;
    bottom: 1px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
    
}

.others a:hover::after {
    transform: translateY(0);
    opacity: 2;
}

.hero{
    position: relative;
    background: rgba(52, 162, 231, 0.787);
    width: 60%;
    height: 95vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
}
.hero img{
    position: absolute;
    width: 600px;
    height:900px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    display: flex;
    margin-top: -10rem;


}
.content{
    position:absolute;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -80rem;
    background: yellow;
    
}
.content h1{
    font-size: 4rem;
}

