* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    /* background-color: red; */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.nav-left {
    display: flex;
    gap: 35px;
}

.nav-left ul li {
    list-style: none;
  
    font-family: var(--font2);

    
    
    
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul {

    display: flex;
    gap: 14px;
    font-size: 14px;
    align-items: center;

    
    
}
.content {
    font-family: var(--font1);
    background-color: green;
    height: 300px;
    display: flex;


}

.content-left{
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content-right img{
    height: 200px;
 

}
.footer {
    background-color: blue;
    height: 20px;

}