@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");

:root{
    --main-bg-color:brown;
    --font1: 'Baloo Bhaina', cursive;
    --font2: 'Roboto',sans-serif
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 70vw;
}
.m-auto{
    margin: auto;
}
.form-input{
    padding: 3px 3px;
    font-size: 16px;

    border-radius: 5px;
    border: 1px solid black;


    margin:0 13px;
    font-family: var(--font1);
}
.btn{
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: #aaa6a640;
     transition: .2s ease-in;
     font-family: var(--font1);
    

}
.btn:hover{
    background-color: #7573738c;
    transition: .3s ease-in-out;
     cursor: pointer;
    
}