@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/background.jpg) ;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center ;
    /* margin-bottom: 12rem; */
    /* margin-top: 10rem; */
    
    
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    padding: 1rem 100px;
    align-items: center;
    z-index: 99;


}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}



.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;

}
.navigation a::after{
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    left: 0;
    bottom: -5px;
    transform-origin: right;
    transform: scaleX(0);
    
    transition: transform .5s;
}
.navigation a:hover::after{
     transform-origin: left;
     transform: scaleX(1);
    
}

.navigation .btn {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 2rem;
    transition: .5s;



}

.navigation .btn:hover{
    background: #fff;
    color: #162938;
}
.wrapper
{
    /* background: red; */

    position: relative;
    width: 400px;
    height :450px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    overflow: hidden;
   
    



}
.wrapper .icon-closer{
    position: absolute;
    top: 0px;
   right: 0;
   width: 45px;
   height: 45px;
   background: #162938;
   color: #fff;
   /* padding: 13px; */
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.7em;
   cursor: pointer;
   z-index: 1;


}

.form-box{
    width: 100%;
    padding: 40px;

    
}
.form-box h2{
    font-size: 2em;
    width: 100%;
    text-align: center;
    
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin:30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    color: #162938;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 7px;
}

.input-box .icon{
    position: absolute;
   right: 8px;
   font-size: 1.2em;
   line-height: 57px;
   color: #162938;
}

.remember-forget{
    font-size: 1rem;
    color: #162938;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 12px 0;

}

.remember-forget label input{
    margin-right: 5px;
    accent-color: #162938;
}
.remember-forget a{
    color: #162938;
    text-decoration: none;
    
    

}
.remember-forget a:hover{
    text-decoration: underline;
   
   
}
.login-btn{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #162938;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}
.login-register{
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0 10px;
    
}

.login-register p a{
    text-decoration: none;
    color: #162938;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

