* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #fff;
}

#main {
    width: 100%;
}

#hero {
    width: 100%;
    height: 100vh;
    background: black;

}

#nav {
    padding: 25px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
}

#heading {
    /* background: red; 
    */
    padding: 1rem;
    opacity: .5;
}

#heading h1 {
    font-size: 9vw;

    font-weight: 300;
    line-height: 1;
    margin-left: 20px;


}

#heading .secondh1 {
    margin-left: 13vw;
}

.blocktext {
    width: fit-content;
}

.blocktext h5 {
    text-align: right;
    font-size: 1vw;
}

.smallheading {
    margin-top: 90px;
    text-transform: uppercase;
    font-size: 1vw;
    opacity: .7;

}

.smallheading h5 {
    text-align: right;
    padding-right: 1.9rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    position: absolute;
    bottom: 3%;
    width: 100%;



}

.footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;


}

.iconSet {
    display: flex;
    gap: .5rem;
}

.iconSet .circle {
    font-size: 1vw;
    background: #0000002f;
}

#secondPage {
    width: 100%;
    background: #000;
    padding-top: 5vw;
    height: 100vh;






}

.elem {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    padding: 3vw .1vw 3vw 3vw;
    width: 80vw;
    align-items: center;
    border-bottom: 1px solid #888;
    margin-left: 3vw;
     cursor: pointer;





}

.elem h1 {
    font-size: 6vw;
    text-transform: uppercase;
    color: #888;
    opacity: .8;


}
.elem h6{
    font-size: 1vw;
    color: #999;
}

.elem img{
    position: absolute;
    height: 140%;
    z-index: 999;
    display: none;
   
}

#about{
    
}