* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 500;

    margin-bottom: 3.8rem;
    margin-top: -3.8rem;
}

.hero h1 span {
    color: #ffafff;
}

textarea {
    width: 500px;
    height: 300px;
    background: #403d84;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    font-size: 17px;
    margin-bottom: 2rem;
    resize: none;

}

textarea::placeholder {

    color: #fff;
}

.row {
    width: 500px;
    display: flex;

    align-items: center;
}

select {
    /* flex: 1; */
    width: 410px;

    height: 50px;

    border-radius: 30px;
    background: #403d84;
    color: #fff;
    border: none;
    outline: 0;
    padding: 0 10px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    margin-right: 5px;




}

button {


    font-size: 15px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 15px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;




}

button img {
    width: 15px;
    margin-right: 10px;

}

@media (max-width: 509px) {
    textarea {
        width: 470px;
    }

    .hero h1{
        font-size: 2.8rem;
    }

    select{
        width: 395px;
        margin-left: 10px;
        margin-right: 10px;
    }

    button{
        margin-left: -7px;
    }


}

@media (max-width: 493px){
    textarea{
        width: 430px;
    }

    .hero h1{
        font-size: 2.5rem;
    }

    select{
       width: 340px;
       margin-right: 1rem;

       margin-left: 2rem;
    }

}
@media (max-width: 452px){
    textarea{
        width: 400px;
    }

    .hero h1{
        font-size: 2.1rem;
    }

    select{
       width: 310px;
       margin-right: .8rem;

       margin-left: 2.8rem;
    }

}