@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+NZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

header {
    top: 0;

    position: fixed;
    width: 100%;
    display: flex;

    justify-content: space-around;

    padding: 20px 0;
    /* background: red; */


}

.link {
    display: flex;
    gap: 2rem;

}

.link a {
    text-decoration: none;
    color: #fff;
    font-size: .9em;
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: center;
}

.link a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: #fff;
    left: 0;
    border-radius: 10px;
    bottom: 1px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.link a:hover::after {
    transform: translateY(0);
    opacity: 2;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.search-bar input {
    background: transparent;
    width: 100%;
    font-size: 16px;
    color: #e4e4e4;
    border: none;
    outline: none;
    padding-left: 3px;
    font-weight: 300;
}

.search-bar input::placeholder {
    color: #e4e4e4;
    font-weight: 300;
}

.search-bar button {
    width: 30px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e4e4;
    cursor: pointer;

}

.search-bar button i {
    color: #e4e4e4;
    font: 22px;
}

.container {
    width: 75%;
    height: 500px;
    position: absolute;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    margin-top: 20px;
    border-radius: 10px;



}

.content {
    position: absolute;
    height: 100%;
    width: 50%;
    background: transparent;
    top: 0;
    left: 0;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.logreg-box {
    position: absolute;
    /* background: yellowgreen; */
    /* width: calc(100% -50%); */
    height: 100%;
    top: 0;
    right: 0;
   /* padding-righ20rem; */
}

.content .logo {
    font-size: 30px;

}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 15px 0;
}

/* .text-sci{
    background: yellow;
}
.social-icons{
    background: blue;
} */
.social-icons a {
    font-size: 22px;
    color: rgb(225, 214, 214);
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.form-box {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    padding: 5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
   



}

.login {
    transform: translateX(0);
    transition: transform .6s ease;

}

.logreg-box.active .form-box.login {
    transform: translateX(430px);

    transition-delay: 0s;
}

.register {
    transform: translateX(430px);
    transition: transform .5s ease;
   
}

.logreg-box.active .form-box.register {
    transform: translateX(0);
    transition-delay: .7s;


}

.form-box h2 {
    font-size: 30px;
    text-align: center;

}

.form-box .input-box {
    position: relative;
    width: 300px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e496;
    font-weight: 500;
    padding-right: 28px;

}

.input-box label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    color: #e4e4e46c;
    pointer-events: none;
    transition: .5s ease;


}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #e4e4e46c;
}

.remember-forget {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
    font-weight: 300;


}

.remember-forget label {
    font-weight: 300;
    letter-spacing: .7px;
}

.remember-forget a {
    text-decoration: none;
    color: #e4e4e4;
    font-weight: 300;
    letter-spacing: .7px;

}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    outline: none;
    background: transparent;
    color: #e4e4e4;
    margin-top: 1.52rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;


}

.login-register {
    font-size: 15px;
    font-weight: 300;

    text-align: center;
    margin-top: 1rem;
}

.login-register a {
    text-decoration: none;
    color: #e4e4e4;
    font-weight: 600;

}

.login-register a:hover {
    text-decoration: underline;
}