*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   background: linear-gradient(135deg, #153677, #4e085f);
   width: 100%;
   min-height: 100vh;
   padding: 10px;

   
   
    
    
}
.card{
    
    background: #ffffffd3;
    min-width: 400px;
    
    width: 100%;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    
    
}
.card h2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color:#99081e;

}
.card h2  img{
    width: 30px;
    margin-left: 10px;
    
    
    
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}


.search input{
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
   font-weight: 14px;
   
}

.search button{
    padding: 10px 30px;
     border-radius: 30px;
     border: 0;
     outline: 0;
     margin-left: -35px;
     background: rgba(255, 0, 0, 0.746);
     cursor: pointer;

}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    /* background: red; */
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position:  center;
    top: 13px;
    left: 18px;
  
    border: 1px solid black;
    
}

.checked{
    color: #555;
    text-decoration: line-through;
    
    
  

}

ul li.checked::before{
    background-image: url(images/checked.png);
   

    
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #ccc;
}
    
