@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(219, 217, 215);
    
    width: 400px;
    height: 100vh
}
.sidebar nav{
    padding: 72px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 30px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(30, 16, 8);
}

.main{
   
    width: 90vw;
}

.container{
    display: flex;
}
.infocontainer{
   
    height: 58vh;
    width: 60vw;
    margin: 144px auto;
    justify-content:space-around;
    
    
}

.devInfo{
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.devPic img{
    
    height: 58vh;
    
}

.hello{
    margin-top: 40px;
    font-size: 30px;

}
.name{
    font-size: 50px;
    font-weight: bold;
    

}
.about{
    font-size: 30px;
    

}
.buttons button{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 7px 14px;
    border-radius: 20px;
    background-color:rgb(67, 133, 254);
    font-size: 13px;
    font-weight: bold;
    color: azure;
    cursor: pointer;
    
    

}
.buttons button:hover{
    background-color: aliceblue;
    color: aqua;
    
}
.moreabout{
    margin-top: 20px;
    font-size: 20px;
}